<div class="content-box">

  <h1 style="margin-bottom: 40px">Podatkovni modeli</h1>

  <p>
    Vsebuje podatkovne modele temeljnih registrov, evidenc in ključnih informacijskih rešitev javne uprave. Omogoča, da se njihove strukture in metapodatki hranijo centralno in na enoten način.<br>
    Obstoječim in potencialnim uporabnikom nudi informacijo kateri podatki se v okviru javne uprave že zbirajo in jih zato ni potrebno definirati na novo.<br>
    Modul Podatkovni modeli zagotavlja:
  </p>
  <ul>
      <li>Standardizirane konceptualne in logične podatkovne modele,</li>
      <li>Enoten in širok nabor metapodatkov, ki omogoča jasno in nedvoumno opredelitev vsebine podatkovnih zbirk,</li>
      <li>Podatke o lastništvu podatkov,</li>
      <li>Verzioniranje in nadzor nad spremembami,</li>
      <li>Relacije med posameznimi podatkovnimi zbirkami in njihovimi podatkovnimi elementi.</li>
  </ul>
  <p>
    V Repozitorij podatkovnih modelov so vključeni tudi jedrni podatkovni modeli. Jedrni podatkovni modeli so ponovno uporabljivi in razširljivi podatkovni modeli,<br>
    ki zajemajo temeljne značilnosti entitet na kontekstualno nevtralen način. Organi javne uprave lahko uporabljajo in razširijo enotne jedrne podatkovne modele na naslednje načine:</p>
  <ul>
      <li><b>Razvoj novih informacijskih rešitev:</b> jedrne podatkovne modele se lahko uporabi kot privzeto izhodišče za oblikovanje konceptualnih in logičnih podatkovnih modelov novo razvitih informacijskih rešitev.</li>
      <li><b>Izmenjava podatkov med informacijskimi rešitvami:</b> Jedrni podatkovni modeli lahko predstavljajo temelj podatkovnih modelov za izmenjavo podatkov med obstoječimi informacijskimi rešitvami.</li>
      <li><b>Podatkovna integracija:</b> Jedrni podatkovni modele se lahko uporablja za integracijo podatkov, ki prihajajo iz različnih heterogenih virov.</li>
  </ul>
  <p>Repozitorij podatkovnih modelov se tesno povezuje z modulom Terminologija in modulom Šifranti.</p>

</div>
