<div class="content-box">
  <div *ngIf="!model">
    <app-ajax-loading-indicator></app-ajax-loading-indicator>
    <div class="bottom-hack-border"></div>
    <div class="bottom-hack-padding"></div>
  </div>
  <div *ngIf="model">
    <div class="header">
      <div class="row">
        <div class="nameButtonRow col-12">
          <h2><span class="mr-4">{{model!.label | translateValue}}</span></h2>
          <div *ngIf="hasSubscription" class="nameButtonRowButton subscription">
            <span class="subscription-icon icon-bell"
                  ngbTooltip="{{ 'You will receive an email notification when this resource changes.' | translate }}"></span>
          </div>
          <model-language-chooser class="nameButtonRowButton" [context]="model"></model-language-chooser>
          <export class="ml-2 nameButtonRowButton" [idPrefix]="'model'" [entity]="model" [context]="model"></export>
          <model-action-menu class="ml-2 nameButtonRowButton"
                             [isMessagingEnabled]="isMessagingEnabled"
                             [hasSubscription]="hasSubscription"
                             [entity]="model"
                             [context]="model"
                             [editing]="editing()"
                             (changeHasSubscription)="changeHasSubscription($event)">
          </model-action-menu>
        </div>
      </div>
      <div class="row">
        <div class="informationRow col-12">
          <app-status class="status" [status]="model!.status"></app-status>
          <span class="inRowTitle"><span translate>Information domain</span>:</span>
          <span class="information-domains">
            <span class="badge badge-light" *ngFor="let domain of model!.classifications">
              <!-- TODO ALES - zakaj je bilo prej  translateValue:true -->
              {{domain.label | translateValue}}
            </span>
          </span>
          <span class="inRowTitle"><span translate>Organization</span>:</span>
          <ul class="organizations dot-separated-list">
            <li class="organization" *ngFor="let contributor of model!.contributors">
              <!-- TODO ALES - zakaj je bilo prej  translateValue:true -->
              {{(contributor.parentOrg ? contributor.parentOrg.label : contributor.label) | translateValue}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs" (navChange)="onNavChange($event)">
      <li ngbNavItem="dataTab" id="dataTab">
        <a ngbNavLink>
          <span translate>Datamodel definition</span>
        </a>
        <ng-template ngbNavContent>
          <model-page [parent]="editorContainer" [currentSelection]="currentModelAndSelection"
                      (makeSelection)="onSubSelection($event)" (updateNamespaces)="onNamespacesChange($event)"></model-page>
        </ng-template>
      </li>
      <li ngbNavItem="modelDetailsTab" id="modelDetailsTab">
        <a ngbNavLink>
          <span translate>Datamodel details</span>
        </a>
        <ng-template ngbNavContent>
          <model-view [parent]="editorContainer" [model]="model" [id]="'model'"
                      (deleted)="onModelDeleted($event)" (updated)="onModelUpdated($event)"
                      [namespacesInUse]="namespacesInUse"></model-view>
          <div class="bottom-hack-border"></div>
          <div class="bottom-hack-padding"></div>
        </ng-template>
      </li>
      <li ngbNavItem="docTab" id="docTab">
        <a ngbNavLink>
          <span translate>Datamodel documentation</span>
        </a>
        <ng-template ngbNavContent>
          <model-documentation
            id='modelDocumentation'
            [parent]="editorContainer"
            [model]="model"
            (updated)="onModelUpdated($event)"></model-documentation>
          <div class="bottom-hack-border"></div>
          <div class="bottom-hack-padding"></div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
